* text=auto eol=lf

*.blade.php diff=html linguist-detectable=false
*.css diff=css linguist-detectable=false
*.html diff=html
*.md diff=markdown
*.php diff=php

# Exclude vendor, node_modules, generated assets from language stats
vendor/** linguist-vendored
node_modules/** linguist-vendored
public/build/** linguist-generated
public/css/** linguist-vendored
public/js/** linguist-vendored
resources/js/** linguist-detectable=false
resources/css/** linguist-detectable=false
resources/sass/** linguist-detectable=false
database/migrations/** linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
